<h1>Our Menu!</h1>

<ul>
    {% for item in menu.values() %}
    <li style="margin-bottom: 20px;">

        <strong>{{ item.name }}</strong> -

        {% set discounted = apply_promotions(item, item.price) %}

        {% if discounted < item.price %}
            <span style="text-decoration:line-through; color:#888;">
                ${{ "%.2f"|format(item.price) }}
            </span>
            <span style="color:#d32f2f; font-weight:bold;">
                ${{ "%.2f"|format(discounted) }}
            </span>
        {% else %}
            ${{ "%.2f"|format(item.price) }}
        {% endif %}
        <br>

        <em>{{ item.description }}</em><br><br>

        <form action="/add_to_cart" method="POST">
            <input type="hidden" name="item_id" value="{{ item.id }}">
            <label>Quantity:</label>
            <input type="number" name="qty" value="1" min="1">
            <button type="submit">Add to Cart</button>
        </form>
    </li>
    {% endfor %}
</ul>

<a href="/cart">View Cart</a>